#AuthType Basic
#AuthName "One does not simply"
#AuthUserFile /var/www/html/.htpasswd
#Require valid-user

Order deny,allow

Satisfy any

# Don't allow the .ht files
<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>

Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php


<FilesMatch "\.(ini|psd|log|sh|.DS_Store|old|py|json)$">
  Order allow,deny
  Deny from all
</FilesMatch>

<IfModule mod_headers.c>
  <FilesMatch "\.(bmp|css|flv|gif|ico|jpg|jpeg|js|pdf|png|svg|swf|tif|tiff|woff|woff2|eot|ttif)(\.gz)?$">
    Header set Cache-Control "max-age=2692000, public"
  </FilesMatch>
  Header unset ETag
  Header unset Last-Modified
</IfModule>

php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_flag log_errors off

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /php-mvc-template/
# Redirect /api requests to apirouter.php
RewriteRule ^api apirouter.php [QSA,L]
# Remove trailing slash (optional)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /php-mvc-template/$1 [L,R=301]

# Skip existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Exclude specific file types (images, CSS, JS, etc.)
RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|webp|ico|js|css|svg)$

# Redirect everything else to index.php
RewriteRule ^ index.php [QSA,L]

</ifModule>